.chapter-form__control{
  padding: 2rem;
}
.chapter-form__control h2 {
  font-size: xx-large;
  margin-top: 3rem;
}

.chapter-form__control p {
  color: gray;
}

.chapter-form__control .form-control__collection {
  display: grid;
  margin-top: 0.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
.chapter-form__control input{
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background-color: white;
  padding: 0.5rem 0.65rem;
}
.chapter-form__control input:focus{
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}
.form-control__uploader {
  display: flex;
  position: relative;
  height: 8rem;
}
.form-control__uploader img {
  object-fit: cover;
  width: 100%;
  height: 8rem;
  border-radius: 1rem;
}
.btn-1 {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  padding: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: rgb(0, 0, 0, 0.3);

  color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
}
.btn-1 svg {
  width: 1.5rem;
  height: 1.5rem;
}
.btn-2 {
  position: absolute;
  bottom: 0.25rem;
  left: 0.25rem;
  padding: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: rgb(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
}
.btn-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.form-control__label {
  display: flex;
  padding: 0.5rem;
  background-color: transparent;
  color: #4b5563;
  font-size: 1.5rem;
  line-height: 2rem;
  justify-content: center;
  align-items: center;
  height: 8rem;
  border-radius: 1rem;
  border-width: 1px;
  gap: 0.25rem;
}
.form-control__label .hidden {
  display: none;
}
.form-control__label svg {
  width: 2rem;
  height: 2rem;
}
.form-control__btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
