.form-control h2 {
  font-size: xx-large;
  margin-top: 3rem;
}

.form-control p {
  color: gray;
}

.form-control div {
  display: grid;
  margin-top: 0.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
.form-control__uploader {
  display: flex;
  position: relative;
  height: 8rem;
}
.form-control__uploader img {
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
}
.btn-1 {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  padding: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: rgb(0, 0, 0, 0.3);

  color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
}
.btn-1 svg {
  width: 1.5rem;
  height: 1.5rem;
}
.btn-2 {
  position: absolute;
  bottom: 0.25rem;
  left: 0.25rem;
  padding: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: rgb(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
}
.btn-icon {
    width: 1.5rem;
    height: 1.5rem;
  }