.news {
  display: flex;
  position: relative;
  text-align: center;
}

.news img {
  width: 100%;
  height: 65vh;
  box-shadow: 1px 0px 1px black;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}
.news p {
  z-index: 10;
  font-size: 40px;
  color: rgb(222, 42, 42);
  font-weight: 900;
  text-shadow: 2px 2px black;
  position: absolute;
  margin: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

.news-hr {
  width: 80%;
  color: yellow;
}

.news:hover img,
.news:hover p {
  font-size: 50px;
  filter: grayscale(30%);
  text-shadow: 2px 2px rgb(147, 0, 0);

  color: azure;
}

.news-cards {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.news-card {
  width: 100rem;
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 3rem;
  text-decoration: none;
  color: black;
  border: 2px solid rgb(128, 128, 128, 0.75);
  padding: 1rem;
}

.news-card img {
  width: 20rem;
  overflow: hidden;
  margin: 0 2rem 0 0;
}
.news-card__info {
  text-decoration: none;
}
@media (max-width: 720px) {
  .news-card__info p {
    display: none;
  }
}

@media (max-width: 720px) {
  .news img {
    height: 35vh;
  }
  .news p {
    font-size: 1.5rem;
  }

  .news-card {
    width: 50rem;
    overflow: hidden;
    margin: 0.5rem 1.5rem;
    text-decoration: none;
    color: black;
    border: 2px solid rgb(128, 128, 128, 0.75);
    padding: 0rem;
    font-size: 0.5rem;
  }

  .news-card img {
    width: 14rem;
    overflow: hidden;
    margin: 0 2rem 0 0;
  }

  .news img,.news p {
    filter: grayscale(30%);
    text-shadow: 2px 2px rgb(147, 0, 0);
    color: azure;
  }
  .news:hover img,
  .news:hover p {
    font-size: 50px;
    filter: grayscale(30%);
    text-shadow: 2px 2px rgb(147, 0, 0);
    font-size: 1.5rem;
    color: azure;
  }
}
